*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(177 123 224 / 85%);
}
nav{
    background-color: black;
    padding: 2vh 7vh;
    color: beige;

}
.result-box{
    padding: 2vh 0 3vh 0;
    display: flex;
    justify-content: center;
}
.result-box h4{
    font-size: 3vh;
    font-weight: 600;
    font-size: 2vw;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    width:75%;
    margin: auto;
}
.container .board{
    display: grid;
    background-color: rgb(196, 236, 223);
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
.container .board .box{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 9vh;
    
}
.box:hover{
    background-color: rgb(106, 198, 188);
}
h3{
    padding:2vh 3vh;
}
.info{
    position: relative;
}
.info .btn{
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 4rem;
    z-index: 2;
}
.info .btn:hover{
    background-image: linear-gradient(to bottom,rgb(92, 154, 216),rgb(200, 224, 248));
    
}

.info #bunny{
    height: 42vh;
    visibility: hidden;
    position: absolute;
}
.container .board .br{
    border-right: none;
}
.container .board .bb{
    border-bottom: none;
}
.container .board .bl{
    border-left: none;
}
.container .board .bt{
    border-top: none;
}